<% provide(:title, "About") %>

<div class = "row">
  <div class="col-md-auto">
    <h2>言ノ葉(β版)とは</h2>
    <div class='col-md-auto'>
      <p>
        誰のもとに届くかわからない手紙を送るサービスです.<br>あなたが嬉しいときや悲しいとき、感じていることを言葉にして誰かに届けてみませんか？<br>その言葉で幸せになる人や救われる人がいるかも知れません。そしてそれは、あなた自身かも。
      </p>
    </div>
    <div class='col-sm-auto'>
      <img class="rounded img-thumbnail" src="/letters_about.jpg">
    </div>
  </div>
</div>

