<% provide(:title, "About") %>

<div class = "row">
  <div class="col-md-auto">
    <h2>コトノハとは</h2>
    <div class='col-md-auto'>
      <p>
        このアプリは“いじめのないSNS”を目指して作りました。
        <br>このアプリで出された手紙はどこに行くか、誰も知りません。
        <br>だからこそ、誰の目も気にすることなく正直な今の気持ちを書いてみませんか？
        <br>その手紙が他のユーザーのもとに届くかもしれません。
        <br>あなたの知らないところで誰かを勇気づけたり、逆に励まされるかもしれません。
      </p>
    </div>
    <div class='col-sm-auto'>
      <img class="rounded img-thumbnail" src="/letters_about.jpg">
    </div>
  </div>
</div>

