<% provide(:title, "About") %>

<div class = "row">
  <div class="col-md-auto">
    <h2>言ノ葉とは</h2>
    <div class='col-md-auto'>
      <p>
        このアプリは“いじめのないSNS”を目指して作りました。
        <br>あなたの今の気持ちを手紙にしてあてもなく流してみませんか？
        <br>その手紙が他のユーザーのもとに届くかもしれません。
        <br>あなたの知らないところで他のユーザーを勇気づけたり、逆に感謝されたりすることがあるかもしれません。
      </p>
    </div>
    <div class='col-sm-auto'>
      <img class="rounded img-thumbnail" src="/letters_about.jpg">
    </div>
  </div>
</div>

