<% provide(:title, "HowToUse") %>

  <div  class="col-sm-auto">
    <h2>遊び方</h2>
    <p>
      1) まずは、自分で手紙を書いてみましょう！（宛名・本文・差出人、好きに書いてね！）
      <br>2) 書けたら投函してみましょう。きっと誰かのもとに届きます！
      <br>3) もし自分が誰かの手紙を受け取ったら、ぜひ何か返事を書いてあげましょう！
      <br>4) 手紙のやりとりは、“一度”だけ！
      <br>5) 出した手紙・返事は皆さんで削除はできません。記録が残ります、言葉には気をつけて！
      <br>最後にですが、みなさんが楽しく遊べますように! ( from 開発者 )
    </p>
    <img class="rounded img-thumbnail" src="/kotonoha_play.png">
  </div>
