<div class="main replies-show">
  <div class="container">
    <div class="replies-show-item">
      <p>
        <span><%= @reply.dear %></span>
        <span><%= @reply.content %></span>
        <span><%=  @reply.from %><br>
        <%= @reply.created_at.to_formatted_s(:datetime_jp) %></span>
      </p>
    </div>
  </div>
</div>