<% visitor = notification.visitor %>
<% visited = notification.visited %>
<% post = notification.post %>

<div class="col-md-6.mx-auto ">
  <div class = "form-incline">
    <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
  </div>
</div>