<div class="main notifications-index">
  <div class="container">
    <h1 class="form-heading">手紙を読む</h1>
    <% @notifications.each do |notification| %>
      <div class="notifications-index-item">
      <% case notification.action %>
      <% when 'post' %>
        <%= link_to(notification.post.dear, "/posts/#{notification.post.id}") %> <br>
      <% when "reply" %>
         <%= link_to(notification.reply.dear, "/replies/#{notification.reply.id}") %> <br>
      <% end %>
      <% if @notifications.size == 0 %>
        <p>手紙はまだ来ていません</p>
      <% end %>  
      </div>
    <% end %>
  </div>
</div>
