<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post|%>
      <div class="posts-index-item">
        <%= link_to(post.dear, "/posts/#{post.id}") %> <br>
      </div>
    <% end %>
  </div>
</div>