<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
        <span><%= @post.dear %></span>
        <span><%= @post.content %></span>
        <span><%=  @post.from %><br>
        <%= @post.created_at.to_s(:datetime_jp) %></span>
      </p>
    </div>
  </div>
</div>