.replies-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.reply-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.reply-user-name a {
  font-weight: 600;
}

.reply-user-name a:hover {
  color: #3ecdc6;
}

.reply-left {
  float: left;
  width: 10%;
}

.reply-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

/* replies/show ================================ */
.replies-show form {
  display: inline;
}

.replies-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
  background-image: url(/ocean-letter.jpeg); background-size: cover; background-repeat: no-repeat;

}

.replies-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.replies-show-item p {
  font-size: 20px;
  margin: 20px 0;
  color: #ff4848;

  background-repeat: repeat-y;
  background-size: 100% 2.0em;
  line-height: 2.0;
}

.replies-show-item p span {
  display: block;
  margin-bottom: 2.0em;
}
.replies-show-item p span:first-child {
  text-align: left;
}
.replies-show-item p span:nth-child(2) {
  text-align: center;
}
.replies-show-item p span:nth-child(3) {
  text-align: right;
}
.replies-show-item p span:nth-child(4) {
  text-align: right;
  margin-bottom: 0;
}

/* replies/new ================================ */

.replies-new .form-body{
  background-image: url(/ocean-letter.jpeg); background-size: cover; background-repeat: no-repeat;

}

.replies-new textarea {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
  background-image:
    repeating-linear-gradient(
      #FFEACE,
      #FFEACE calc(1.5rem - 1px),
      #ced4da calc(1.5rem - 1px),
      #ced4da 1.5rem,
      #FFEACE 1.5rem
    );
  background-origin: content-box;
  background-clip: content-box;
  background-attachment: local;
}


input[type="text"] {
  background-image:
    repeating-linear-gradient(
      #FFEACE,
      #FFEACE calc(1.5rem - 1px),
      #ced4da calc(1.5rem - 1px),
      #ced4da 1.5rem,
      #FFEACE 1.5rem
    );
  background-origin: content-box;
  background-clip: content-box;
  background-attachment: local;
}

.replies-new textarea::-webkit-input-placeholder {
  font-size: 20px;
  opacity: 0.5;
}